/* Sora font */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

.sora_font {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* banner section */
.banner_section {
    background: linear-gradient(to top, #efebe3, white) !important;
}

.offer_div {
    background: linear-gradient(to bottom right, #179800, white);
}
